[ req ]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
C = IN
ST = Tamil Nadu
L = Chennai
O = Production Application Hosting
OU = Platform Engineering
CN = frontend.pah.local

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = frontend.pah.local
#DNS.2 = api.pah.local
DNS.3 = admin.pah.local
